gradio>=4.0.0
spaces
--extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
--extra-index-url https://download.pytorch.org/whl/cu128
--prefer-binary
torch==2.8.0
llama-cpp-python==0.3.28
nvidia-cuda-runtime-cu12
nvidia-cublas-cu12
nvidia-cuda-nvrtc-cu12
accelerate>=0.27.0
numpy
Pillow
huggingface_hub